* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
a {
  text-decoration: none;
  border: 1px solid #e1e2e3;
  color: #00c;
  font-size: 14px;
  cursor: pointer;
}
a::selection {
  background: transparent;
}
a:hover {
  border-color: #3388e1;
  background: #f2f8ff;
}
.boxAll {
  margin-top: 100px;
  margin-left: 50px;
  position: relative;
}
.boxAll::selection {
  background: transparent;
}
.boxAll>a {
  padding: 6px 10px;
  position: relative;
  top: -10px;
}
.boxAll .overFlow {
  display: inline-block;
  height: 30px;
  width: 398px;
  overflow: hidden;
}
.boxAll .overFlow .boxMain {
  display: inline-block;
  position: relative;
  width: 2000px;
}
.boxAll .overFlow .boxMain a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
}
.boxAll .overFlow .boxMain a:not(:first-child) {
  margin-left: 10px;
}
.boxAll .overFlow .boxMain a:first-child {
  margin-left: 4px;
}
.none {
  display: none;
}
.border {
  border: 1px solid transparent;
}
.color {
  font-weight: bold;
  color: #333;
  cursor: auto;
}
.color:hover {
  background: #fff;
  border-color: transparent;
}
